---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Digital Future">
        <div class="container">
            <h1>Digital Future</h1>
        </div>
    <div class="container">
        <section id="terminos-de-uso">
            <h2>Términos de Uso</h2>
            <p>Bienvenido a <strong><i>Digital Future</i></strong>. Al acceder y utilizar nuestro sitio web, aceptas los siguientes términos y condiciones. Si no estás de acuerdo con estos términos, te pedimos que no utilices nuestro sitio.</p>
            <p>1. <strong>Uso del Servicio:</strong> El uso del servicio está sujeto a los términos aquí descritos. Nos reservamos el derecho de modificar estos términos en cualquier momento.</p>
            <p>2. <strong>Propiedad Intelectual:</strong> Todo el contenido, incluyendo pero no limitado a textos, gráficos y software, es propiedad de <strong><i>Digital Future</i></strong> o de sus licenciantes.</p>
            <p>3. <strong>Responsabilidad:</strong> <strong><i>Digital Future</i></strong> no se hace responsable de daños directos o indirectos derivados del uso de este sitio web.</p>
        </section>

        <section id="politica-de-privacidad">
            <h2>Política de Privacidad</h2>
            <p>En <strong><i>Digital Future</i></strong>, valoramos tu privacidad. Esta política explica cómo recopilamos, usamos y protegemos tu información personal.</p>
            <p>1. <strong>Información Recopilada:</strong> Recopilamos información que tú nos proporcionas, como tu nombre, dirección de correo electrónico y otra información relevante.</p>
            <p>2. <strong>Uso de la Información:</strong> Podríamos utilizar tu información para mejorar nuestros servicios y para mantenerte informado sobre actualizaciones y promociones.</p>
            <p>3. <strong>Protección de Datos:</strong> Implementamos medidas con el más alto estándar de seguridad para proteger tu información. Sin embargo, al igual que cualquier otro sitio web,
                     no podemos garantizar una protección absoluta contra todas las amenazas.</p>
            <p>4. <strong>Cookies:</strong> Podríamos utilizar cookies para mejorar tu experiencia en nuestro sitio. Puedes ajustar la configuración de tu navegador para bloquear cookies si lo prefieres.</p>
        </section>

        <section id="aviso-legal">
            <h2>Aviso Legal</h2>
            <p>La información contenida en este sitio web se proporciona únicamente con fines informativos. No ofrecemos garantías sobre la exactitud, integridad o adecuación de la información contenida en el sitio.</p>
            <p>1. <strong>Exclusión de Responsabilidad:</strong> <strong><i>Digital Future</i></strong> no será responsable por cualquier daño directo, indirecto, especial o consecuente que resulte del uso de este sitio web.</p>
            <p>2. <strong>Enlaces Externos:</strong> Nuestro sitio puede contener enlaces a sitios web de terceros. No nos hacemos responsables del contenido de estos sitios.</p>
            <p>3. <strong>Cambios en el Aviso Legal:</strong> Nos reservamos el derecho de modificar este aviso legal en cualquier momento. Te recomendamos revisar esta sección regularmente.</p>
        </section>
    </div>
</Layout>

    <style>
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
         h1 {
            text-align: center;
            margin: 2rem 0 0 0;
            font-size: 24px;
        }
        section {
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
            opacity: 0.8;
        }
    </style>